{% extends 'sites/base.html' %}

{% block content %}

<h1>Summary</h1>

{% url 'summary' as url %}
<a href="{{ url }}" class="btn btn-primary {% if url in request.get_full_path %}active{% endif %}">
    Sum
</a>

{% url 'summary_average' as url %}
<a href="{{ url }}" class="btn btn-primary {% if url in request.get_full_path %}active{% endif %}">
    Average
</a>

{% block table %}
    <table class="table">
        <thead>
            <tr>
                <th>
                    Site
                </th>
                <th>
                    A Value
                </th>
                <th>
                    B Value
                </th>
            </tr>
        </thead>
        <tbody>
            {% for site in object_list %}
                <tr>
                  <td>{{ site }}</td>
                  <td>{{ site.get_value_a_sum }}</td>
                  <td>{{ site.get_value_b_sum }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock table %}

{% endblock %}
